.container-maintain {
  font-family: Montserrat, sans-serif
}
input, select {
  outline: none;
}

.learning-item label > input[type="radio"] {
  display: none;
}
.learning-item label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border: 0.1rem solid #CBCBCB;
}
.learning-item label > input[type="radio"]:checked + * {
  color: teal;
}
.learning-item label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
.form-contain {
  padding: 30px 8%;
}

.avt-contain {
  background-color: #FFFFFF;
  padding: 30px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.cv-upload-contain {
  background-color: #FFFFFF;
  padding: 30px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.avt {
  display: flex;
  margin-bottom: 23px;
}

.name {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14.5px;
  margin-top: 23px;
}

.img-input {
  display: flex;
  margin-bottom: 30px;
}

.link-contain {
  display: flex;
  margin-bottom: 9px;
}

.inner-input {
  position: relative;
  overflow: hidden;
  background-color: #E5E5E5;
  padding: 8px 60px;
  border-radius: 40px;
  font-size: 14px;
  color: #989898;
  font-weight: bold;
}

.inner-input input, .inner-input select {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.inner-input img {
  position: absolute;
  left: 25px;
  top: 10px;
}

.link-contain input, .link-contain select {
  width: 100%;
  border: none;
  background-color: #F1F1F1;
  font-size: 14px;
  padding: 10px;
  color: #989898;
  text-align: center;
  border-radius: 5px;
}

.ps {
  font-size: 12px;
  color: #989898;
}

.cv-tit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.inner-cv {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
  border-radius: 15px;
  border: 1px dashed #989898;
  cursor: pointer;
}

.up-text {
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  color: #989898;
}

.inner-cv input, .inner-cv select {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  z-index: 99;
  height: 100%;
}

.inner-cv img {
  position: absolute;
  bottom: 50px;
}

.progress-tit {
  font-size: 22px;
}

.progress-contain {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 18px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.inner-progress {
  background-color: #D3F2E2;
  border-radius: 15px;
  padding: 20px;
}

.progress-pro {
  display: flex;
}

.start-point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00A79A;
}

.progress-group {
  display: flex;
  width: 100%;
}

.re-progress {
  display: flex;
  height: 100px;
  align-items: center;
  width: 33%;
}

.progress-point {
  text-align: end;
  position: relative;
  background-color: #FFFFFF;
  height: 6px;
  width: 100%;
}

.point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #989898;
  position: absolute;
  right: 0;
  top: -3px;
}

.progress-point-complete {
  background-color: #00A79A;
}

.num {
  position: relative;
  top: -30px;
  font-size: 16px;
  font-weight: bold;
}

.point-tit {
  position: relative;
  top: -5px;
  font-size: 12px;
  font-weight: bold;
}

.basic-info-contain {
  background-color: #FFFFFF;
  padding: 31px;
  border-radius: 15px;
  margin-bottom: 21px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.basic-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.basic-info {
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 50px !important;
}

.input-item {
  margin-bottom: 10px;
}

.input-item > label {
  font-weight: bold;
  font-size: 14px;
}

.input-item input[type=text], .input-item input[type=date]{
  width: 100%;
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  padding: 5px;
}

.input-item .select-style {
  width: 100%;
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  padding-right: 10px;
  background: #FFF;
}

.sc_day > div {
  display: block;
}

.input-item select {
  border: none;
  width: 100%;
  appearance: none;
  background-image: url('~/assets/images/users/draft/select-icon.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.input-item > textarea {
  width: 100%;
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

.check-box {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.check-box > label {
  flex: 30%;
  font-size: 14px;
}

.check-box > label > input {
  margin-right: 10px;
  opacity: .3;
  transform: scale(1.5);
}

.check-box > label > span {
  line-height: 21px;
  vertical-align: text-bottom;
}

.check-box > div {
  flex: 30%;
  font-size: 14px;
}

.check-box > div > input {
  margin-right: 10px;
  opacity: .3;
  transform: scale(1.5);
}

.check-box > div > span {
  line-height: 21px;
  vertical-align: text-bottom;
}

.more-info {
  margin-top: 30px;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 30px !important;
}

.c_start_day, .c_end_day {
  display: block;
}

.extra-info {
  margin-top: 30px;
}

.submit-contain {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.save-btn {
  margin-left: 20px;
  padding: 8px 33px;
  border: none;
  border-radius: 25px;
  background-color: #00756A;
  color: #FFFFFF;
  font-weight: bold;
}

.save-btn:hover {
  background-color: #1bb7a8;
}

.cancel, .all-cancel {
  margin-left: 20px;
  padding: 8px 33px;
  border: none;
  border-radius: 25px;
  background-color: #CBCBCB;
  color: #FFFFFF;
  font-weight: bold;
}

.cancel:hover, .all-cancel:hover {
  background-color: #f7f7f7;
  color: #333333;
}

.learning-title {
  font-size: 22px;
  font-weight: bold;
}

.extra {
  display: inline-block;
  color: #00A79A;
  cursor: pointer;
  font-weight: bold;
}

.extra > img {
  margin-right: 5px
}

.learning-item {
  //border: 1px solid #E5E5E5;
  margin-top: 20px;
  //border-radius: 15px;
  display: block;
}

.l-extra {
  padding: 15px 20px;
  font-weight: bold;
  //border-bottom: 1px solid #E5E5E5;
  border: 1px solid #E5E5E5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.l-input {
  padding: 20px;
  padding-bottom: 30px;
  background-color: #F1F1F1;
  border: 1px solid #E5E5E5;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox > label {
  flex: 30%;
  font-size: 14px;
}

.checkbox > label > input {
  margin-right: 10px;
  opacity: .3;
}

.checkbox > label > span {
  line-height: 21px;
  vertical-align: text-bottom;
}

#reason-desc {
  width: 100%;
  resize: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.reason-info {
  display: block;
}

.streng-info {
  display: block;
}

.count {
  font-size: 12px;
  font-style: italic;
}

.per-img {
  margin: 20px 0;
}

.head-img {
  background-image: url('~/assets/images/users/draft/head-img.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  max-height: 220px;
  max-width: 360px;
  border-radius: 15px;
}

.tail-img {
  background-image: url('~/assets/images/users/draft/tail-img.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  max-height: 220px;
  max-width: 360px;
  border-radius: 15px;
}

.inner-img-input {
  position: relative;
  overflow: hidden;
  background-color: #CBCBCB;
  border-radius: 40px;
  font-size: 10px;
  font-weight: bold;
  margin: 140px 0 30px;
  text-align: center;
  color: #FFFFFF;
  padding: 6px 20px 4px;
}

.inner-img-input input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.img-desc {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.basic-info-contain:last-of-type {
  padding-bottom: 5px;
}

.update-btn {
  background-color: #CD0323;
}

.update-btn:hover {
  background-color: #ba6669 !important;
}

.last {
  //margin-bottom: 80px;
  margin-top: 30px
}

.form-des {
  font-size: 10px;
  font-style: italic;
  color: #4D4D4D;
  margin-bottom: 15px;
}

.green-check-box {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 25px;
}

.green-check-box input[type=radio], .green-check-box input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.green-check-box span {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
}

.green-check-box input:checked ~ span {
  background-color: #00756A;
  border: 1px solid #00756A;
  box-shadow: inset 0 0 5px 0 white;
}

.error-text {
  color: red;
  font-size: 12px;
}

.avt-img {
  height: 150px;
}

.preview-resident-card-container {
  background-image: none;
  background-color: #f1f1f1;
  min-height: 195px;
}

.preview-resident-card {
  width: 80%;
  height: 115px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.error-border {
  border-color: #eb3d3d !important;
}

.upload-avatar-btn:hover {
  background-color: #f7f7f7;
}

.affiliate-link-input {
  padding: 8px;
}

.affiliate-link-input:hover {
  background-color: #f7f7f7;
}

.profile-image-contain {
  min-height: 140px;
}

.background-profile-image {
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 40px;
}

.preview-cv-upload {
  padding: 8px !important;
}

.postal-code {
  max-height: 2.5rem;
}

#postal-code-1 {
  width: 60px;
}

#postal-code-2 {
  width: 100px;
}
#town-num {
  text-transform: capitalize;
}

/* xs: .col */
@media (max-width: 575px) {
  .text-date {
    width: 50%;
  }
}

/* sm: .col-sm */
@media (min-width: 576px) and (max-width: 767px) {
  .text-date {
    width: auto;
  }
}

/* md: .col-md */
@media (min-width: 768px) and (max-width: 991px) {
  .text-date {
    width: 50%;
  }
}

/* lg: .col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .text-date {
    width: 50%;
  }
}

/* xl: .col-xl */
@media (min-width: 1200px) {
  .text-date {
    width: auto;
  }
}
