.font-vi {
  font-family: 'Montserrat', sans-serif !important;
}
.font-ja {
  font-family: 'M PLUS 1p', sans-serif !important;
}
body {
  //font-family: 'M PLUS 1p';
  background-color: #EBF2F2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.background{
  width: 100%;
  height: 345px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.logo{
  width: 160px;
  height: 60px;
  z-index: 2;
  margin: auto;
  margin-top: 56px;
  margin-bottom: 31px;
  position: relative;
}

.logo-unauth {
  height: 50px;
}

.form_forgot,
.form_changePW{
  //font-family: 'Montserrat', sans-serif;
  z-index: 2;
  width: 600px;
  height: 480px;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  margin: auto;
  margin-top: 0px;
  position: relative;
  padding-inline: 3.5rem;
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);
}

.text-content{
  font-size: 32px;
  font-weight: bold;
  width: auto;
  height: 39px;
  margin: auto;
  align-items: center;
  margin-top: 26.5px;
  /* text-align: center; */
  white-space: nowrap;  
}
.heading-form-reset-password{
  margin-bottom: 93px
}

.email {
  width: 500px;
  margin: auto;
  position: relative;
}

.text-email,.text-password {
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  margin-left: 20px;
}
.text-email{
  white-space: nowrap;
}

.input-email,.input-password {
  width: 500px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #B3B3B3;
  margin-top: 4px;
  padding-left: 60px;
  padding-right: 42px;
  font-size: 16px;
}

.send,
.confirm,
.goBack {
  width: 200px;
  height: 50px;
  background-color: #BC282D;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.send:hover {
  background-color: #8d3b3e;
}
.goBack {
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: 1.5px solid #000000
}
.goBack:hover {
  color: #000000;
}
.textforgot {
  font-size: 14px;
  color: #01756A;
  text-align: center;
  margin-top: 17px;
}
/* change password */
.form_changePW{
  height:440px;
}
.password{
  width: 500px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
.text-password p {
  color: #C1272D;
  margin-left: 2px;
  margin-bottom: 0px;
}
.text-email p{
  color: #C1272D;
  margin-left: 2px;
  margin-bottom: 0px;
}
.line{
  width: 1px;
  height: 22px;
  background-color: #999999;
  position: absolute;
  top: 51%;
  left: 50px;
}
img.ic_lock {
  position: absolute;
  top: 50%;
  left: 18.4px;
}
.ic_eyes{
  position: absolute;
  top: 55%;
  right: 17px;
  cursor: pointer;
  height: 20px;
}
.m-auto {
  height: 70px;
  margin-top: 16px !important;
  margin-bottom: 70px !important;
}

@media (max-width: 768.98px){
  .form_changePW{
    padding: 0 49px;    
  }
  .form_changePW .email,
  .form_changePW .password{
    width: auto !important;
    margin-left: 0;
  }

  .form_changePW input{
    width: 100% !important;
    height: 48px;
  }
  .form_changePW .line{
    left: 50px;
  }
}

@media (max-width: 576px) {
  
  .password {
      width: 90vw;
  }

  input.input-password {
      width: 90vw;
  }

  .form_changePW {
      width: 95vw;
  }
  input.input-email {
      width: 84vw;
      //padding-left: 50px;
  }

  .email {
      width: 84vw;
    margin-left: -27px;
  }

  .form_forgot {
      width: 95vw;
  }
  .send,
  .confirm,
  .goBack {
    width: 150px;
    height: 45px;
    font-size: 16px;
  }
  .line {
    left: 40px
  }
  .top-right {
    position: fixed !important;
    margin-top: 40px !important;
  }

  .form_changePW{
    padding: 0 20px;    
  }
  .form_changePW .email,
  .form_changePW .password{
    width: auto !important;
    margin-left: 0;
  }

  .form_changePW input{
    width: 100% !important;
    height: 48px;
  }
  .form_changePW .line{
    left: 50px;
  }
}


.error {
  color: red;
  padding-left: 49px;
  text-align: left;
}

.mail-icon {
  position: absolute;
  top: 57%;
  left: 4%;
}

.email-green {
  margin-bottom: 10px;
}

.submit-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin: 20px auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3B5998;
  border-bottom: 8px solid #3B5998;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
  z-index: 999999;
}

.maintain {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
}

@media(max-width: 425.98px) {
  .text-content{
    font-size: 25px;
  }

  .heading-form-reset-password{
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 375px) {
  .error {
    padding-left: 0;
  }
  .form_changePW .error{
    padding-left: 49px;
  }
}

@media(max-width: 320.98px) {
  .text-content{
    font-size: 20px;
  }
}
