.font-vi {
  font-family: 'Montserrat', sans-serif !important;
}
.font-ja {
  font-family: 'M PLUS 1p', sans-serif !important;
}
body {
  background-color: #f1f1f1;
}

.inner-container {
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);
}

.title-page {
  font-size: 32px;
  margin: 50px 0px 30px;
}

.title-page.second {
  font-size: 20px;
  margin: 20px 0px 25px;
}

.card {
  border: none;
}

.content {
  margin-bottom: 25px;
  font-size: 16px;
}

.row {
  padding: 0px 75px;
}

.card-content-twenty-one {
  margin-bottom: 80px;
}

.title-page-second {
    font-size: 20px;
}

@media only screen and (max-width: 975px) {
  .row {
    padding: 0px 30px;
  }

  .title-page {
    font-size: 25px;
    margin: 50px 0px 30px;
  }

  .title-page.second {
    font-size: 18px !important;
    margin: 20px 0px 25px;
  }
}

@media only screen and (max-width: 500px) {
  main {
    //margin: 0px 30px;
  }

  .row {
    padding: 0px;
  }
  .container {
    width: initial;
  }
}
